/*
** Main
*/

@import 'tailwind.scss';

/*
** GLOBAL CSS STYLING
*/

@import 'fonts.scss';

body,
html {
  font-family:
    Lora,
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	overscroll-behavior: none;
  scroll-behavior: smooth;
  background-color: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.section {
  height: 100vh;
}
